@tailwind base;
@tailwind components;
@tailwind utilities;

.links a {
  color: blue;
  width: 650px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}
.ReactModal__Overlay {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.hideBodyScroll {
  overflow: hidden;
}
